/* You can add global styles to this file, and also import other style files */
.header{
    letter-spacing: 2px;
    background-color: aqua;

}
.xheader{
    background-color: bisque;
    letter-spacing: 0px;
}